.project-layout {
  &__poster {
    @extend %img-cover;
    margin-bottom: $rhythmYLg1;
    padding-bottom: 28.28125%;
    z-index: -1;
    @media (max-width: $lg) {
      margin-bottom: $rhythmYMd2;
    }
    &-wrapper {
      position: relative;
    }
  }
  &__container {
  }
  &__title {
    margin: 0 0 72rem;
    font-size: var(--fs-2);
    text-align: center;
    @media (max-width: $lg) {
      margin-bottom: 42rem;
    }
    &:after {
      background: $grayColor;
      height: 1px;
      margin: 38rem -150rem 0;
      content: '';
      display: block;
    }
  }
  &__card-col {
    @media (max-width: $sm) {
      max-width: 100%;
      flex-basis: 100%;
    }
    &--title {
      @media (max-width: $sm) {
        background: $darkGrayColor;
        margin-bottom: 20rem;
        padding-top: var(--gap);
        padding-bottom: var(--gap);
        position: sticky;
        top: $headerHeightMd;
        z-index: 4;
      }
    }
    &--content {
    }
  }
  &__card {
    margin-bottom: $rhythmYLg1;
    @media (max-width: $lg) {
      margin-bottom: $rhythmYMd2;
    }
    &:last-child {
      margin-bottom: $rhythmYLg2;
      @media (max-width: $lg) {
        margin-bottom: $rhythmYMd2;
      }
    }
    &-title {
      font-size: var(--fs-12);
      position: sticky;
      top: $headerHeightLg + 40rem;
      @media (max-width: $lg) {
        top: $headerHeightMd + 40rem;
      }
      @media (max-width: $sm) {
        position: static;
      }
    }
    &-content {
    }
    &-text {
      font-size: var(--fs-4);
    }
    &-reviews {
      &-item {
        & + & {
          margin-top: 72rem;
          @media (max-width: $lg) {
            margin-top: 40rem;
          }
        }
      }
    }
  }
  &__picture {
    margin-bottom: $rhythmYLg1;
    border-radius: $radiusMd;
    overflow: hidden;
    @media (max-width: $lg) {
      margin-bottom: $rhythmYMd1;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.reviews-card {
  &__inner {
  }
  &__header {
    margin: 0 0 36rem;
    display: flex;
    align-items: center;
    @media (max-width: $lg) {
      margin-bottom: 20rem;
    }
    &-media {
      margin-right: 42rem;
      flex-shrink: 0;
      @media (max-width: $lg) {
        margin-right: 20rem;
      }
    }
    &-avatar {
      @extend %img-cover;
      width: 72rem;
      height: 72rem;
      border-radius: 50%;
      overflow: hidden;
      @media (max-width: $lg) {
        width: 60rem;
        height: 60rem;
      }
    }
    &-content {
    }
    &-name {
      @extend .title-size-3;
      margin: 0 0 4rem;
    }
    &-position {
      color: $grayColor;
    }
  }
  &__content {
  }
  &__text {
    font-size: var(--fs-4);
  }
}