<section id="cta-section" class="cta-section">
  <div class="container container--size-md cta-section__container">
    <div class="cta-section__block">
      <div class="row cta-section__block-row">
        <div class="row__col--6 cta-section__block-col cta-section__block-col--content">
          <div class="cta-section__block-content">
            <h2 class="cta-section__block-title">С Вас задача - с&nbsp;нас <span class="color-accent">решение!</span></h2>
            <div class="content cta-section__block-text">
              <p>Заполните форму, мы свяжемся с вами, проконсультируем и обсудим ваш проект</p>
            </div>
          </div>
        </div>
        <div class="row__col--6 cta-section__block-col cta-section__block-col--form">
          <form action="#" class="cta-section__form">
            <div class="u-control cta-section__form-line">
              <input type="text" name="cta_name" class="u-input u-input--theme-white u-input--size-md u-input--status-error u-control__input" placeholder="" value="#%!!!98898">
              <p class="u-control__placeholder">
                <span class="u-control__placeholder-title">Имя</span>
              </p>
            </div>
            <div class="u-control cta-section__form-line">
              <div id="your-destination-element"></div>
              <input type="tel" name="cta_phone" id="js-phone-mask" class="u-input u-input--theme-white u-input--size-md u-input--iti u-control__input" required placeholder="">
              <p class="u-control__placeholder">
                <span class="u-control__placeholder-title"></span>
              </p>
            </div>
            <div class="u-control cta-section__form-line">
              <input type="text" name="cta_company" class="u-input u-input--theme-white u-input--size-md u-control__input" placeholder="">
              <p class="u-control__placeholder">
                <span class="u-control__placeholder-title">Компания</span>
              </p>
            </div>
            <div class="js-attach-file u-control cta-section__form-line">
              <label class="u-control__file">
                <svg class="u-icon u-control__icon">
                  <use xlink:href="images/icons/icons.svg#file-attach"></use>
                </svg>
                <input type="file" name="cta_file" class="u-control__file-el" value="">
                <span class="u-input u-input--theme-white u-input--size-md u-control__file-input"></span>
                <p class="u-control__placeholder">
                  <span class="u-control__placeholder-title">Файл с информацией о проекте</span>
                </p>
                <button type="button" class="js-attach-file-remove u-control__file-remove">
                  <svg class="u-icon">
                    <use xlink:href="images/icons/icons.svg#close"></use>
                  </svg>
                </button>
              </label>
            </div>
            <div class="u-control cta-section__form-line">
              <select name="cta_appeal" id="js-select-init" class="cta-section__form-select">
                <option value="Не выбрано" selected disabled></option>
                <option value="Создание и оптимизация лендингов и мультилендингов">Создание и оптимизация лендингов и мультилендингов</option>
                <option value="Разработка веб-сайтов под ключ">Разработка веб-сайтов под ключ</option>
                <option value="Разработка интернет-магазинов">Разработка интернет-магазинов</option>
                <option value="Интеграция и настройка CRM и ERP систем">Интеграция и настройка CRM и ERP систем</option>
                <option value="Разработка корпоративных порталов и систем управления">Разработка корпоративных порталов и систем управления</option>
                <option value="Разработка корпоративных порталов и систем управления">Разработка корпоративных порталов и систем управления</option>
                <option value="Разработка корпоративных порталов и систем управления">Разработка корпоративных порталов и систем управления</option>
                <option value="Разработка корпоративных порталов и систем управления">Разработка корпоративных порталов и систем управления</option>
                <option value="Разработка корпоративных порталов и систем управления">Разработка корпоративных порталов и систем управления</option>
                <option value="Разработка корпоративных порталов и систем управления">Разработка корпоративных порталов и систем управления</option>
                <option value="Разработка корпоративных порталов и систем управления">Разработка корпоративных порталов и систем управления</option>
                <option value="Разработка корпоративных порталов и систем управления">Разработка корпоративных порталов и систем управления</option>
                <option value="Разработка корпоративных порталов и систем управления">Разработка корпоративных порталов и систем управления</option>
                <option value="Разработка корпоративных порталов и систем управления">Разработка корпоративных порталов и систем управления</option>
                <option value="Разработка корпоративных порталов и систем управления">Разработка корпоративных порталов и систем управления</option>
                <option value="Разработка корпоративных порталов и систем управления">Разработка корпоративных порталов и систем управления</option>
                <option value="Разработка корпоративных порталов и систем управления">Разработка корпоративных порталов и систем управления</option>
                <option value="Разработка корпоративных порталов и систем управления">Разработка корпоративных порталов и систем управления</option>
                <option value="Разработка корпоративных порталов и систем управления">Разработка корпоративных порталов и систем управления</option>
              </select>
              <p class="u-control__placeholder">
                <span class="u-control__placeholder-title">Что вас интересует?</span>
              </p>
            </div>
            <div class="u-checkbox cta-section__form-privacy">
              <label class="u-checkbox__label">
                <input type="checkbox" name="cta_privacy" class="u-checkbox__control" required value="Персональные данные">
                <span class="u-checkbox__inner">
                  <span class="u-checkbox__icon">
                    <svg class="u-icon">
                      <use xlink:href="images/icons/icons.svg#checked"></use>
                    </svg>
                  </span>
                  <span class="u-checkbox__title">Согласен на обработку персональных данных</span>
                </span>
              </label>
            </div>
            <button type="submit" class="btn btn--size-md btn--theme-accent-fill cta-section__form-btn" disabled>
              <span class="btn__inner">
                <span class="btn__title">Отправить</span>
              </span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>