<footer class="@@el footer">
  <div class="container container--size-md footer__container">
    <div class="row footer__row">
      <div class="row__col--3 footer__col footer__col--nav">
        <p class="footer__title">О компании</p>
        <nav class="footer__nav">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">О нас</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Вакансии</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row__col--3 footer__col footer__col--nav">
        <p class="footer__title">О компании</p>
        <nav class="footer__nav">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">О нас</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Вакансии</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row__col--4 footer__col footer__col--nav">
        <p class="footer__title">Услуги</p>
        <nav class="footer__nav">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">SEO-продвижение</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Разработка веб-сайтов под ключ</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Веб-дизайн и разработка</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Разработка интернет-магазинов</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Техническая поддержка</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row__col--2 footer__col footer__col--nav">
        <p class="footer__title">Контакты</p>
        <nav class="footer__nav">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a href="tel:+" class="footer__nav-link">7 (ххх) ххх хх хх</a>
            </li>
            <li class="footer__nav-item">
              <a href="tel:+" class="footer__nav-link">7 (ххх) ххх хх хх</a>
            </li>
            <li class="footer__nav-item">
              <a href="mailto:" class="footer__nav-link">Почта</a>
            </li>
            <li class="footer__nav-item">
              <a href="#" class="footer__nav-link">Телеграм</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row__col--12 footer__col footer__col--copyright">
        <div class="footer__bottom">
          <a href="/" class="logo footer__bottom-logo">
            <picture class="logo__img">
              <img src="images/logo.png" alt="Рантье" width="68" height="68">
            </picture>
          </a>
          <nav class="footer__bottom-subnav">
            <ul class="footer__bottom-subnav-list">
              <li class="footer__bottom-subnav-item">
                <a href="#" class="footer__bottom-subnav-link">Пользовательские соглашения</a>
              </li>
              <li class="footer__bottom-subnav-item">
                <a href="#" class="footer__bottom-subnav-link">Политика конфиденциальности</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>