<div class="project-list">
  <div class="row project-list__row">
    <div class="row__col--6 project-list__col project-list__col--el">
      <div class="project-card project-list__card">
        <div class="project-card__inner">
          <picture class="project-card__picture">
            <img src="images/project-card-1.jpg" alt="">
          </picture>
          <a href="#" class="project-card__link"></a>
        </div>
      </div>
    </div>
    <div class="row__col--6 project-list__col project-list__col--el">
      <div class="project-card project-list__card">
        <div class="project-card__inner">
          <picture class="project-card__picture">
            <img src="images/project-card-2.jpg" alt="">
          </picture>
          <a href="#" class="project-card__link"></a>
        </div>
      </div>
    </div>
  </div>
</div>